{% extends "layout.html.twig" %}

{% block title %}Movie List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Release date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.movie_id }}</td>
                        <td>{% if movie.movie_poster%} <img src="{{ (movie.movie_poster) }}" class="img-200 img-responsive"> {% else %} No poster {% endif %}</td>
                        <td><a href="{{ path('show', { 'id': movie.movie_id }) }}"
                               class="btn-link">{{ movie.movie_title }}</a></td>
                        <td>{{ movie.movie_date }}</td>
                        <td><a href="{{ path('edit', { 'id': movie.movie_id }) }}" class="btn btn-warning">Update</a> <a
                                    href="{{ path('delete', { 'id': movie.movie_id }) }}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
